@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-card: #ffffff;
  --color-card-foreground: #09090b;

  --color-primary: #09090b;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #09090b;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --shadow-soft: 0 10px 30px -10px rgba(0, 0, 0, 0.05);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

.animate-border-beam {
  animation: border-beam calc(var(--duration)*1s) infinite linear;
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}